body {
  margin: 0px;
  padding: 0;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  min-height: 100vh;
  background-color: rgb(255, 252, 249);
}

.all-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 40px;
    margin-left: 20%;
    margin-top: 70px;
}

@media screen and (max-width: 900px) {
  .content-container {
    margin-left: 0px;
  }
}
